main {
	flex-grow: 1;
}

.header {
	max-width: 550px;
}

.flex {
	display: flex;
	gap: 30px;
}

.align-center {
	align-items: center;
}

.imgLeft {
	width: 20%;
	height: 100vh;
	object-fit: cover;
}

.m-0 {
	margin: 0;
}

.mb-30 {
	margin-bottom: 30px;
}

.w-100 {
	width: 100%;
}
