// COLORS
$primary-color: #9C5CE1;
$secondary-color: #C77E01;
$dark-color: #222222;
$light-color: #777777;

// FONTS
$font-sedan: var(--sedan);
$font-sedan-sc: var(--sedan-sc);

$font-size-title-nav: 28px;
$font-size-links-nav: 16px;

$font-size-title: 20px;
$font-size-normal: 16px;
$font-size-small: 12px;

$font-weight-title: '800';

