@import './variables';

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* END */

body{
	padding-right: 4rem;
}

a {
	color: inherit;
	text-decoration: none;
}
button {
	border: none;
}

/* TITLES */
.title {
	color: $secondary-color;
	font-size: $font-size-title;
	font-weight: $font-weight-title;
	font-family: $font-sedan-sc;
	font-variant-caps: small-caps;
	margin-bottom: 24px;
}

/* Paragraph */
p {
	color: $light-color;
	font-size: $font-size-normal;
	font-family: $font-sedan;
	margin-bottom: 15px;
	line-height: 18px;
}

/* FORM */
label {
	color: $primary-color;
	font-size: $font-size-normal;
	font-family: $font-sedan-sc;
	font-variant-caps: small-caps;
}

input {
	background: rgba($light-color, 0.05);
	padding: 1rem 2rem;
	border-radius: 12px;
	border: none;
	width: 100%;
	color: $light-color;
	font-family: $font-sedan;
	font-size: $font-size-normal;
	box-sizing: border-box;
	&::placeholder {
		color: $light-color;
		opacity: 1;
		font-size: $font-size-normal;
	}
}

input[type='checkbox'] {
	box-sizing: border-box;
	width: 16px;
	height: 16px;
	margin: 1px;
	margin-right: 6px;
	padding: 0;
	border: 1px solid $primary-color;
	appearance: none;
	border-radius: 0;

	&:checked {
		background-size: cover;
		padding: 2px;
		background-color: $primary-color;
		background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20" height="20" viewBox="0 0 32 32" xml:space="preserve"><path style="fill: white" d="M11.941,28.877l-11.941-11.942l5.695-5.696l6.246,6.246l14.364-14.364L32,8.818"/></svg>');
	}
}

select {
	appearance: none;
	background-color: rgba($light-color, 0.05);
	// background-image: url(../icons/arrow-down.svg);
	// background-position: 94% 50% ;
	// background-repeat: no-repeat;
	background-size: 20px 20px;
	color: $light-color;
	padding: 1rem 2rem;
	border-radius: 12px;
	border: none;
	width: 100%;
	font-family: $font-sedan;
	font-size: $font-size-normal;
	cursor: pointer;

	&::after {
		content: '';
	}
}

textarea {
	background-color: rgba($light-color, 0.05);
	border: none;
	border-radius: 12px;
	box-sizing: border-box;
	width: 100%;
	height: 100px;
	padding: 1rem 2rem;
	resize: none;
	color: $light-color;
	font-family: $font-sedan;
	font-size: $font-size-normal;
}

.form-element {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.footer-form {
	color: $light-color;
	font-size: $font-size-small;
	font-family: $font-sedan;
}

.relative {
	position: relative;
}

.m-auto {
	margin: auto;
}

.icon-style {
	width: 20px;
	height: 20px;
	color: $light-color;

}

.icon-style-alternative{
	width: 16px;
	height: 16px;
	color:white;
	margin-left: 8px;
}

.icon-position {
	position: absolute;
	top: 50%;
	right: 30px;
	transform: translateY(-50%);
}
