@import '@/styles/variables';

.loginRegister {
	display: flex;
	flex-wrap: nowrap;
}

.imgLeft {
	width: 55%;
	height: 100vh;
	object-fit: cover;
}

.invertir {
	transform: scaleX(-1);
}

.formContainer {
	display: grid;
	align-items: center;
	padding: 2rem;
}
